body {
	margin: 0;
	background-color: #f2f2f2;
	font-family: Arial, Helvetica, sans-serif;
}

.login-partial {
	width: 100%;
	margin: 0;
	height: 100vh;
}
.logo {
	background-color: #219653;
	width: 50%;
	float: left;
	height: 100vh;
	text-align: center;
}
.logo img{
	border-radius: 50%;
	margin-top: 5vh;
	margin-bottom: 5vh;
}
.logo .web-name{
	font-size: 3em;
	color: white;
	margin: 1vh;
	font-family: Times New Roman;
}
.logo h1{
	margin-top: 4vh;
	font-family: "Times New Roman", Times, serif;
	font-size: 7em;
	font-weight: lighter;
	color: #ffbb33;
}
.logo h1 small{
	font-size: 40%;
	font-family: Times New Roman;
}

.sign-in-form {
	background-color: #E5E5E5;
	display: inline-block;
	width: 50%;
	height: 100vh;
}

.sign-in-form h1{
	width: 60%;
	font-size: 4.5em;
	font-weight: lighter;
	margin: auto;
	margin-top: 20vh;
	margin-bottom: 5vh;
	font-family: Times New Roman;
}

.form-element {
	width: 60%;
	margin: auto;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.form-element::after {
	content: "";
	clear: both;
	display: table;
}

.form-element label {
	width: 100%;
	font-size: 2em;
	display: block;
	font-weight: bold;
	margin: auto;
	margin-bottom: 1vh;
	font-family: Times New Roman;
}

.form-element input {
	width: 100%;
	margin: auto;
	display: block;
	height: 4.5vh;
	font-size: 1.2em;
	padding-left: 10px;
}

.form-element a {
	width: 100%;
	margin: auto;
	display: block;
	font-size: 1.1em;
	font-style: italic;
	text-decoration: none;
	color: #000;
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-family: Times New Roman;
}

.form-element button {
	background-color: #219653;
	color: white;
	padding: 2%;
	font-size: 1.4em;
	border-radius: 10px;
	width: 180px;
	border: 1px solid #111;
	float: right;
	font-family: Times New Roman;
}

.form-element button:hover {
	background-color: #1c7d46;
}

.sign-up-suggest {
	width: 60%;
	margin: auto;
	display: block;
	margin-top: 10vh;
	font-size: 1.2em;
	font-style: italic;
	font-family: Times New Roman;
}

/* The alert message box */
.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
	color: black;
  }