body {
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    padding: 30px;
    font-size: 1.3em;
}

.form-container {
    display: block;
    margin: auto;
}

.form-element {
    margin: auto;
    margin-bottom: 20px;
    width: 600px;
}

.form-element::after {
    content: "";
    clear: both;
    display: table;
  }

.form-element label {
    display: inline-block;
    width: 200px;
    text-align: left;
}
.form-element input {
    width: 380px;
    height: 25px;
    display: inline-block;
}

.form-element button {
    padding: 10px 20px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 7px;
    width: 80px;
    color: white;
    border-radius: 5px;
    border: none;
    float: right;
}

.rsbtn {
    background-color: #ff3333;
}

.rsbtn:hover {
    background-color: #cc0000;
}

.savebtn {
    background-color: #219653;
}

.savebtn:hover {
    background-color: #1c7d46;
}